<% layout('layouts/app') %>
<div class="max-w-md m-auto">
  <h1 class="text-xl mb-4">Add Place</h1>
  <form action="/places" method="post">
    <div class="grid grid-cols-1 gap-x-4 gap-y-6">
      <div class="sm:col-span-3">
        <label for="title" class="block">Title</label>
        <div class="mt-2">
          <input type="text" class="block w-full bg-white rounded-md px-3 py-1.5 text-base bg-gray-900 outline-1" name="place[title]" id="title" />
        </div>
      </div>
      <div class="sm:col-span-3">
        <label for="description" class="block">Description</label>
        <div class="mt-2">
          <textarea class="block w-full bg-white rounded-md px-3 py-1.5 text-base text-gray-900 outline-1 resize-none h-32" name="place[description]" id="description"></textarea>
        </div>
      </div>
      <div class="col-span-3">
        <label for="location" class="block">Location</label>
        <div class="mt-2"><input type="text" class="block w-full bg-white rounded-md px-3 py-1.5 text-base bg-gray-900 outline-1" name="place[location]" id="location" /></div>
      </div>
      <div class="col-span-3">
        <label for="price" class="block">Price</label>
        <div class="mt-2">
          <input type="text" class="block w-full bg-white rounded-md px-3 py-1.5 text-base bg-gray-900 outline-1" name="place[price]" id="price" />
        </div>
      </div>
      <div class="col-span-3">
        <label for="image" class="block">Image URL</label>
        <div class="mt-2">
          <input type="url" class="block w-full bg-white rounded-md px-3 py-1.5 text-base bg-gray-900 outline-1" name="place[image]" id="image" />
        </div>
      </div>
      <div class="col-span-3">
        <div class="mt-2">
          <button type="submit" class="block w-full bg-indigo-600 rounded-md px-3 py-2 text-sm font-semibold text-white">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
